# Exercise 2 - Data Science Tools and Ecosystem

### Exercise 3 - In this notebook, Data Science Tools and Ecosystem are summarized.

### Exercise 10 - 
**Objectives:**

- List popular languages for Data Science.
- Discuss commonly used libraries for Data Science.
- Demonstrate how to create tables in Markdown cells.

#### Exercise 4 - Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

#### Exercise 5 - Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. MatplotLib

#### Exercise 6- 
|Data Science Tools |
|-------------------|
|Jupyter Notebook               |
|    RStudio         |
|Apache Zeppelin|

### Exercise 7 - Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# Exercise 8 - This a simple arithmetic expression to mutiply then add integers.
result = (3 * 4) + 5
print(result)

17

In [9]:
# Exercise 9 - This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

##### Exercise 11 -
## Author
Usman Khaliq